<html>
<head>
    <title>Admin</title>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/admin/list.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.bootpag.min.js"></script>
</head>
<body>
<div id="root">
    <header id="header">
        <div id="header_box">
            {{> admin/include/header}}
        </div>
    </header>

    <nav id="nav">
        <div id="nav_box">
            {{> admin/include/nav}}
        </div>
    </nav>

    <section id="container">
        <aside>
            {{> admin/include/aside}}
        </aside>
        <div id="container_box">
            <h2>상품 목록</h2>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>카테고리</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th colspan="2">등록일</th>
                    </tr>
                </thead>
                <tbody>
                    {{#list}}
                    <tr>
                        <td>{{goodsNum}}</td>
                        <td><a href="/admin/goods/view?goodsNum={{goodsNum}}">{{goodsName}}</a></td>
                        <td>{{goodsCategory.categoryName}}</td>
                        <td>{{goodsPrice}}</td>
                        <td>{{goodsStock}}</td>
                        <td colspan="2">{{createdDate}}</td>
                    </tr>
                    {{/list}}
                </tbody>
            </table>
        </div>
        <div class="page_num pa_t10 paginated" id="pagenation" style="width: 30%; float:none; margin:280px;">
            <input type="hidden" value="{{currentPage}}" name="currentPage" id="currentPage" />
            <input type="hidden" value="{{totalPages}}" name="totalPages" id="totalPages" />
        </div>
    </section>

    <footer id="footer">
        <div id="footer_box">
            {{> admin/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/app/admin.js"></script>
</body>
</html>
