<html>
<head>
    <title>Admin</title>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/admin/update.css">
</head>
<body>
<div id="root">
    <header id="header">
        <div id="header_box">
            {{> admin/include/header}}
        </div>
    </header>
    <nav id="nav">
        <div id="nav_box">
            {{> admin/include/nav}}
        </div>
    </nav>
    <section id="container">
        <aside>
            {{> admin/include/aside}}
        </aside>
        <div id="container_box">
            <h2>상품 수정</h2>
            <form id="updateForm" enctype="multipart/form-data"  onsubmit="return false;">
                <input type="hidden" id="goodsNum" name="goodsNum"  value="{{goods.goodsNum}}" disabled />
                <div class="inputArea">
                    <label>1차 분류</label>
                    <select class="category1">
                        <option value="">전체</option>
                    </select>
                    <label>2차 분류</label>
                    <select class="category2" name="goodsCategoryCode">
                        <option value="">전체</option>
                    </select>
                </div>
                <div class="inputArea">
                    <label for="goodsName">상품명</label>
                    <input type="text" id="goodsName" name="goodsName"  value="{{goods.goodsName}}" />
                </div>
                <div class="inputArea">
                    <label for="goodsPrice">상품가격</label>
                    <input type="text" id="goodsPrice" name="goodsPrice" value="{{goods.goodsPrice}}"  />
                </div>
                <div class="inputArea">
                    <label for="goodsStock">상품수량</label>
                    <input type="text" id="goodsStock" name="goodsStock" value="{{goods.goodsStock}}"  />
                </div>
                <div class="inputArea">
                    <label for="goodsDescription">상품소개</label>
                    <textarea rows="5" cols="50" id="goodsDescription" name="goodsDescription" >{{goods.goodsDescription}}</textarea>
                </div>
                <div class="inputArea">
                    <input type="file"  id="goodsImg" name="file" value="" />
                    <div class="select_img"><img src="" /></div>
                </div>
                <div class="inputArea">
                    <button type="button" id="btn_update" class="btn btn-primary">수정</button>
                </div>
            </form>
        </div>
    </section>
    <footer id="footer">
        <div id="footer_box">
            {{> admin/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/app/admin.js"></script>
</body>
</html>