<html>
<head>
    <title>Admin</title>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <style>
        body { font-family:'맑은 고딕', verdana; padding:0; margin:0; }
        ul { padding:0; margin:0; list-style:none;  }
        div#root { width:90%; margin:0 auto; }
        header#header { font-size:60px; padding:20px 0; }
        header#header h1 a { color:#000; font-weight:bold; }
        nav#nav { padding:10px; text-align:right; }
        nav#nav ul li { display:inline-block; margin-left:10px; }
        section#container { padding:20px 0; border-top:2px solid #eee; border-bottom:2px solid #eee; }
        section#container::after { content:""; display:block; clear:both; }
        aside { float:left; width:200px; }
        div#container_box { float:right; width:calc(100% - 200px - 20px); }
        aside ul li { text-align:center; margin-bottom:10px; }
        aside ul li a { display:block; width:100%; padding:10px 0;}
        aside ul li a:hover { background:#eee; }
        footer#footer { background:#f9f9f9; padding:20px; }
        footer#footer ul li { display:inline-block; margin-right:10px; }
    </style>
    <style>
        .inputArea { margin:10px 0; }
        select { width:100px; }
        label { display:inline-block; width:70px; padding:5px; }
        label[for='gdsDes'] { display:block; }
        input { width:150px; }
        textarea#gdsDes { width:400px; height:180px; }
        .select_img img { margin:20px 0; }
    </style>
</head>
<body>
<div id="root">
    <header id="header">
        <div id="header_box">
            {{> admin/include/header}}
        </div>
    </header>
    <nav id="nav">
        <div id="nav_box">
            {{> admin/include/nav}}
        </div>
    </nav>
    <section id="container">
        <aside>
            {{> admin/include/aside}}
        </aside>
        <div id="container_box">
            <h2>상품 수정</h2>
            <form onsubmit="return false;" enctype="multipart/form-data">
                <input type="hidden" id="goodsNum" name="goodsNum"  value="{{goods.goodsNum}}" />
                <div class="inputArea">
                    <label>1차 분류</label>
                    <select class="category1">
                        <option value="">전체</option>
                    </select>
                    <label>2차 분류</label>
                    <select class="category2" name="goodsCategoryCode">
                        <option value="">전체</option>
                    </select>
                </div>
                <div class="inputArea">
                    <label for="goodsName">상품명</label>
                    <input type="text" id="goodsName" name="goodsName"  value="{{goods.goodsName}}" />
                </div>
                <div class="inputArea">
                    <label for="goodsPrice">상품가격</label>
                    <input type="text" id="goodsPrice" name="goodsPrice" value="{{goods.goodsPrice}}"  />
                </div>
                <div class="inputArea">
                    <label for="goodsStock">상품수량</label>
                    <input type="text" id="goodsStock" name="goodsStock" value="{{goods.goodsStock}}"  />
                </div>
                <div class="inputArea">
                    <label for="goodsDescription">상품소개</label>
                    <textarea rows="5" cols="50" id="goodsDescription" name="goodsDescription" >{{goods.goodsDescription}}</textarea>
                </div>
                <div class="inputArea">
                    <label for="goodsImg">이미지</label>
                    <input type="file" id="goodsImg" name="files" />
                    <div class="select_img"><img src="" /></div>
                </div>
                <div class="inputArea">
                    <button type="submit" id="btn_update" class="btn btn-primary">수정</button>
                </div>
            </form>
        </div>
    </section>
    <footer id="footer">
        <div id="footer_box">
            {{> admin/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/app/admin.js"></script>
</body>
</html>