<html>
<head>
    <title>Admin</title>
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/admin/view.css">
    <script src="/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div id="root">
    <header id="header">
        <div id="header_box">
            {{> admin/include/header}}
        </div>
    </header>
    <nav id="nav">
        <div id="nav_box">
            {{> admin/include/nav}}
        </div>
    </nav>
    <section id="container">
        <aside>
            {{> admin/include/aside}}
        </aside>
        <div id="container_box">
            <h2>상품 상세</h2>
            <form method="post" autocomplete="off">
                <input type="hidden" id="goodsNum" name="goodsNum" value="{{goods.goodsNum}}" />
<!--                <div class="inputArea">-->
<!--                    <label>1차 분류</label>-->
<!--                    <span class="category1"></span>-->
<!--                    <label>2차 분류</label>-->
<!--                    <span class="category2">{{goods.goodsCategoryCode}}</span>-->
<!--                </div>-->

                <div class="inputArea">
                    <label for="goodsName">상품명</label>
                    <span><input type="text" id="goodsName" value="{{goods.goodsName}}" /></span>
                </div>

                <div class="inputArea">
                    <label for="goodsPrice">상품가격</label>
                    <span><input type="text" id="goodsPrice" value="{{goods.goodsPrice}}" /></span>
                </div>

                <div class="inputArea">
                    <label for="goodsStock">상품수량</label>
                    <span><input type="text" id="goodsStock" value="{{goods.goodsStock}}" /></span>
                </div>
                <div class="inputArea">
                    <label for="goodsDescription">상품소개</label>
                    <span><input type="text" id="goodsDescription" value="{{goods.goodsDescription}}" /></span>
                </div>
                <div class="inputArea">
                    <div><b>이미지</b></div>
                    <span><img src="/uploads/img/{{goods.goodsImg}}"  width="300" height="300"></span>
                </div>
                <div class="inputArea">
                    <a href="/admin/goods/update/{{goods.goodsNum}}" class="btn btn-warning">
                        <span class="text">수정</span>
                    </a>
                    <button type="button" id="btn_delete" class="btn btn-danger">삭제</button>
                </div>
            </form>
        </div>
    </section>
    <footer id="footer">
        <div id="footer_box">
            {{> admin/include/footer}}
        </div>
    </footer>
</div>
<script src="/js/app/admin.js"></script>
</body>
</html>